# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# Alembic
*.db
