APP_NAME=Enterprise Dev Portal
APP_VERSION=0.1.0
ENVIRONMENT=local

JWT_SECRET_KEY=APUafHSMHASjHJ_GkjPRd27rgSAaV3uH1dw4L3DG5Mr6qf0QZnayiHzB0SuFLeLsR_6llvvfZOc5oHQWpYNG_w
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
